.add_form{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 5px;
    @include mq(600px) {
      grid-template-columns: 90% 10%;
    }
}

.add_form label{
    position: absolute;
    left: -10000px;
}

.add_inputs{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.add_Item{
    border-bottom: none;
}

.add-button {
    height: 100%;
    width: 100%;
    color: $inverse-font-color;
    font-size: 1rem;
    background: $link-color;
    border: 1px solid $link-color;
    border-radius: 10px;
    padding: 0.25rem;
    outline: none;
}

.add-button:focus,
.add-button:hover{
    box-shadow: 5px 2px 5px $shadow-color;
}

.add-button:active{
    transform: translate(1px, 2px);
    box-shadow: 1px 1px 0 $font-color;
}